
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --orange-clr: #e96c28;
    --white-clr: #fff;
    --black-clr:#000;
    --gray-clr:#636363;
    --light-gray-clr:#646464;
    --dawn-pink-clr:#fae7e5;
    --frosted-mint-clr:#dcfef9;
}
/* header */
.logo-txt{
    font-size: 1.5rem;
    color: var(--orange-clr);
    font-weight: bold;
}
a{
    text-decoration: none;
}
span{
    color: var(--black-clr);
}

.navlist{
    display: flex;
    align-items: center;
    gap: 2rem;
}
li{
    list-style: none;
}
.navlinks{
    color:var(--black-clr);
    font-weight: 500;
}
.active ,.navlinks:hover{
    color: var(--orange-clr);
}

.icons-link{
    background: var(--orange-clr);
    width: 2.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: .5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.3rem;
    transition: 3s ease-in-out;
}

.icons-link:hover{
    transform: translateY(-10%);
}
.fa-solid{
    font-size: 1.1rem;
    color: var(--white-clr);
}
header{
    height: 13vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
.hamburger{
    cursor: pointer;
    display: none;
}
.burger{
    background: var(--black-clr);
    width: 2.3rem;
    height: .25rem;
    margin: .3rem;
    border-radius: 2rem;
}
/* section part */

/* hero section */
.hero-section{
    height: calc(100vh -13vh);
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.content{
    flex: 1;
}
.image-container{
    flex: 1;
    position: relative;
}
.image-container::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--dawn-pink-clr);
    width: 35rem;
    height: 30vh;
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    font-size: 3.5rem;
    line-height: 4rem;
    margin-top: 1rem;
}
.watch{
    display: flex;
    align-items: center;
    gap: .5rem;
}
p{
    color: var(--gray-clr);
    margin-block: 1.5rem;
    max-width: 500px;
}
.btn-container{
    display: flex;
    gap: 1.5rem;
}
button{
    background: var(--orange-clr);
    color: var(--white-clr);
    border: 1rem solid var(--orange-clr);
    padding: .55rem 1.5rem;
    border-radius: 5rem;
    font-size: 1rem;
}
/* store section */
.other-section{
    padding-block: 5rem;
}

